// @use "tailwind" as *;
@use "variables" as *;
@use "wrappers" as *;
@use "mixins" as *;
@use "typography" as *;
@use "buttons" as *;
@use "forms" as *;
@use "scrollbar" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
